
<h1>Make a new flashcard <%= Current.user.name%> </h1> 
<%= form_for @flashcard do |f| %>

    <%= f.hidden_field :user_id %>

    <%= f.label :question %>
    <%= f.text_field :question %><br>

    <%= f.label :answer %>
    <%= f.text_field :answer %><br>


    <%= f.submit %>
<% end %>
<%= link_to "Show all flashcards", flashcards_path %>